.row{
  margin: 0!important;
}
.menu-bar{
  position:fixed;
  top: 6.528vh;
  left: 0;
  background-color: #ffbc01;
  height: 7.646vh;
  width: 100%;
  margin: 0;
  z-index: 100;
  .scroll{
    margin-left: -10px;
    ::-webkit-scrollbar {
      display: none;
    }
    ul{
      padding: 0px;
      margin-left: 1vh;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      width:100%;
      margin-left: 1%;
      li{
        height: 7vh;
        width:25%;
        vertical-align: top;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        background-color: white;
        padding-top: 2vh;
        margin-left: -4px;
      }
      .active {
        background-color: #ffbc01 !important;
        color: white !important;
        height: 7.646vh;
      }
    }
  }
}

// top screen
.blog-list{
  padding-top: 14.16vh;
  padding-bottom: 10vh;
  hr{
    margin: 0!important;
  }
  ul{
    padding: 0;
    li{
      list-style-type: none;
      .row{
        margin: 0;
      }
      .suggest{
        position: relative;
        img{
          position: absolute;
          top: -1px;
          left: 0;
          width: 5.39vh;
          height: 5.39vh;
        }
      }
      .blog{
        margin: 4.69vh 2.99vh 0 2.99vh;
        .image_thum{
          position: relative;
          img{
            position: absolute;
            top: -12px;
            left: 2%;
            width: 5.39vh;
            height: 5.39vh;
          }
        }
        .title-blog{
          p{
            margin-top: 3.81vh;
            font-size: 2.17vh;
            font-weight: bold;
            color: #333333;
            padding-left: 15%;
          }
        }
        .row{
          margin-bottom: 3.44vh;
          padding: 0;
          .col-xs-6, .col-xs-3{
            margin: 0;
            padding: 0;
          }
          .category{
            display: inline-block;
            //border: 1px solid #6baf00;
            p{
              margin-left: 1.33vw;
              //color: #6baf00;
              margin: 0;
              font-size: 2vh;
            }
          }
          .public-time{
            display: inline-block;
            font-weight: 0px;
            padding-left: 2vw;
            p{
              color: #a7a7a7;
              font-size: 2vh;
            }
          }
          .action{
            padding: 0px;
            position: relative;
            img{
              height: 2.7vh;
              width: auto;
              position: absolute;
              top: 0;
              left: 0;
            }
            p{
              color: #333333;
              font-weight: bold;
              font-size: 1.5vh;
              position: absolute;
              top: 0.8vh;
              left: 6.3vw;
            }
          }
        }
      }
    }
  }
}

 // profile screen
.profile{
  padding-bottom: 70px;
  .row{
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 6.521vh;
  }
  p{
    margin: 0!important;
  }
  #first_layout{
    .avatar_layout_user{
      margin-left: 5.33vw;
      margin-top: 6.248vh;
      float: left;
      img{
        max-height: 27.11vh;
        max-width: 16.3vh;
      }
    }
    .avatar_layout_author{
      margin-left: 1.33vw;
      margin-top: 2.248vh;
      float: left;
      img{
        max-height: 27.11vh;
        max-width: 16.3vh;
      }
    }
    .author_info{
      padding-right: 5.33vw;
      float: right;
      margin-top: 5.997vh;
      margin-left: 3.066vw;
      .author_title{
        font-weight: bold;
        font-size: 2vh;
        color: black;
        margin-bottom: 1.874vh;
      }
      .author_name{
        color: #ff7300;
        .name{
          font-weight: bold;
          font-size: 4.572vh;
        }
        .job{
          font-weight: bold;
          font-size: 2.698vh;
        }
      }
      .author_birth_place,
      .author_age,
      .author_subject{
        margin-bottom: 1vh;
        .label{
          display: inline-block;
          background-color: #f8b600;
          border-radius: 1.499vh;
          text-align: center;
          color: white;
          padding-top: 0.647vh;
          width: 14.266vw;
          height: auto;
          p{
            font-size: 1.424vh;
          }
        }
        .explain{
          display: inline-block;
          color: #333333;
          font-size: 1.649vh;
        }
      }
    }
    .author_intro_text{
      float: left;
      margin-top: 2.248vh;
      padding: 0 5.33vw 0 5.33vw;
      //padding-left: 5.33vw;
      //padding-right: 5.33vw;
    }
  }
  #second_layout,
  #third_layout{
    //padding-bottom: 0%;
    .title{
      height: 3.7vh;
      width: 34%;
      background-color: #f8b600;
      color: white;
      text-align: center;
      padding-top: 0.5vh;
      font-weight: bold;
      padding-left: 4%;
      float: right;
    }
    .body{
      margin-top: 2.248vh;
      padding: 0 5.33vw 0 5.33vw;
      //padding-left: 5.33vw;
      //padding-right: 5.33vw;
    }

    .label{
      display: inline-block;
      background-color: #f8b600;
      border-radius: 1.499vh;
      text-align: center;
      color: white;
      padding-top: 0.647vh;
      width: 40%;
      height: auto;
      font-size: 90%;

      p{
        font-size: 3vh;
      }
    }
    .content {
      img {
        max-width: 450px;
        max-height: auto;
        width: 100%;
      }
    }
  }
}

// blog detail screen
.blog-detail{
  padding-top: 6.528vh;
  padding-bottom: 10vh;
  .row{
    margin: 0;
  }
  .suggest{
    position: relative;
    img{
      position: absolute;
      top: -1px;
      left: 0;
      width: 5.39vh;
      height: 5.39vh;
    }
  }

  .blog{
    margin: 4.79vh 2.99vh 0 2.99vh;
    .title{
      p{
        margin-top: 3.74vh;
        font-size: 2.17vh;
        font-weight: bold;
        color: #333;
      }
    }

    .row{
      margin-bottom: 3.44vh;
      padding-bottom: 2.629vh;
      .col-xs-6, .col-xs-3, .col-xs-4{
        margin: 0;
        padding: 0;
      }
      .category{
        display: inline-block;
        //border: 1px solid #6baf00;
        p{
          margin-left: 1.33vw;
          //color: #6baf00;
          margin: 0;
          font-size: 2vh;
        }
      }
      .public-time{
        display: inline-block;
        font-weight: 0px;
        padding-left: 2vw;
        p{
          color: #a7a7a7;
          font-size: 2vh;
        }
      }
      .action{
        padding: 0px;
        position: relative;
        img{
          height: 2.7vh;;
          width: auto;
          position: absolute;
          top: 0;
          left: 0;
        }
        p{
          color: #333;
          font-weight: bold;
          font-size: 1.5vh;
          position: absolute;
          top: 0.824vh;
          left: 6.26vw;
        }
      }

      .social{
        button{
          width: 29vw;
          height: 7vh;
          border-radius: 0.5vh;
          border: none;
          img{
            height: 2.7vh;
            width: auto;
          }
        }
        .btn-twitter{
          background-color: #67abdd;
        }
        .btn-facebook{
          background-color:  #3b5997;
        }
        .btn-line{
          background-color: #00c300;
        }
      }
      .content{
        img{
          max-width: 450px;
          max-height: auto;
          width: 100%;
        }
      }

      .author{
        //border-radius: 1.5vh;
        //border: dotted 1px #999;
        .author-image{
          margin-top: 3.866vh;
          margin-bottom: 3.093vh;
          margin-left: 6.8vw;
          margin-right: 6.8vw;
          img{
            width: 20.533vw;
            max-width: 20.533vw;
            max-height: auto;
            border-radius: 50%;
            display: inline-block;
            margin-right: 4.133vw;
            float: left;
          }
          p{
            color: #787878;
            font-size: 1.469vh;
          }
          .author-info{
            display: inline-block;
            float: left;
            .author-name{
              p{
                color: #ff7300;
                font-size: 2.784vh;
                font-weight: bold;
              }
            }
          }
        }

        .btn-show-profile{
          padding: 0 6.8vw;
          .btn-author{
            border: solid 1px #4b4b4b;
            border-radius: 2%;
            background-color: white;
            width: 100%;
            padding: 0;
            margin-bottom: 3.01vh;
            .row{
              margin-left: 5.466vw;
              margin-top: 3.325vh;
              margin-bottom: 2.17vh;
              padding: 3.248vh 6.933vw;
              p{
                font-size: 1.469vh;
                color: #4b4b4b;
                font-weight: bold;
                color: #333333;
                display: inline-block;
                float: left;
                margin-left: 5.466vw;
                margin-bottom: 0;
              }
              img{
                width: 2vw!important;
                height: auto;
                display: inline-block;
                float: right;
              }
            }
          }
        }
      }
    }
  }
  .rate{
    background-color: #ff7300;
    text-align: center;
    font-size: 2.7vh;
    font-weight: bold;
    color: white;
    padding-top: 4.717vh;
    padding-bottom: 3.63vh;
    .tick{
      display: none;
    }
    .rate-white-frame{
      display: none;
    }
    .rate-active{
      .rate-frame, .icon{
        display: none;
      }
      p{
        color: #ff7300;
      }
      .tick{
        display: block;
        width: 8.533vw;
        height: auto;
        position: absolute;
        top: 1.93vh;
        left: 6.933vw;
      }
      .rate-white-frame{
        display: block;
        width: 43.33vw;
        height: auto;
      }
    }
    .row{
      margin: 0 5.33vw;
      .col-xs-6{
        //padding: 0;
        position: relative;
        .rate-frame{
          width: 43.33vw;
          height: auto;
        }
        .icon{
          width: 8.533vw;
          height: auto;
          position: absolute;
          top: 1.93vh;
          left: 6.933vw;
        }
        p{
          position: absolute;
          top: 3.48vh;
          left: 18.4vw;
          font-size: 1.779vh;
          font-weight: bold;
        }
      }
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
    .upper{
      margin-bottom: 1.16vh!important;
    }
    .lower{
      padding-bottom: 3.4vh;
    }
  }
  .comment{
    background-color: #efefef;
    padding: 4.64vh 5.33vw;
    p{
      font-size: 2.629vh;
      font-weight: bold;
      text-align: center;
      padding-bottom: 3.09vh;
      margin: 0;
    }
    textarea{
      width: 100%;
      height: 23.2vh;
      background-color: white;
      border: none;
      border-radius: 0.465vh;
      padding: 3vh 5.33vw;
      margin-bottom: 3.17vh;
    }
    button{
      width: 100%;
      height: 6.96vh;
      background-color: #3f4149;
      text-align: center;
      color: white;
      border-radius: 0.465vh;
      border: none;
    }
  }
  .social-bottom{
    padding: 4.64vh 5.33vw 10.64vh 5.33vw;
    .title-social{
      padding-left: 25.466vw;
      padding-bottom: 2.165vh;
      img{
        width: 4.13vw;
        height: auto;
        display: inline-block;
        margin-right: 2.66vw;
      }
      p{
        display: inline-block;
        color: #333333;
        font-weight: bold;
      }
    }
    button{
      width: 29vw;
      height: 7vh;
      border-radius: 0.5vh;
      border: none;
      img{
        height: 2.7vh;
        width: auto;
      }
    }
    .col-xs-4{
      padding: 0;
    }
    .btn-twitter{
      background-color: #67abdd;
    }
    .btn-facebook{
      background-color:  #3b5997;
    }
    .btn-line{
      background-color: #00c300;
    }
  }
}

.author_screen{
  font-family: "HiraKakuProW3";
  .row{
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 6.521vh;
    margin: 0 !important;
  }
  p{
    margin: 0!important;
  }
  #first_info{
    .author_avatar{
      margin-left: 1.33vw;
      margin-top: 2.248vh;
      float: left;
      img{
        max-height: 28.11vh;
        max-width: 17.3vh;
      }
    }
    .user-avatar_ems {
      padding-left: 5.33vw;
      margin-top: 5.997vh;
      img {
        max-width: 26.3vh !important;
      }
    }
    .author_info{
      padding-right: 5.33vw;
      float: right;
      margin-top: 5.997vh;
      margin-left: 3.066vw;
      .author_info_1{
        font-weight: bold;
        font-size: 2vh;
        color: black;
        margin-bottom: 1.874vh;
      }
      .author_info_2{
        .big{
          font-weight: bold;
          font-size: 4.572vh;
          color: #ff7300;
        }
        .small{
          font-weight: bold;
          font-size: 2.698vh;
          color: #ff7300;
        }
      }
      .author_info_3, .author_info_4, .author_info_5{
        margin-bottom: 1vh;
        .label{
          display: inline-block;
          background-color: #f7b700;
          border-radius: 1.499vh;
          text-align: center;
          color: white;
          padding-top: 0.647vh;
          width: 14.266vw;
          height: auto;
          p{
            font-size: 1.424vh;
          }
        }
        .explain{
          display: inline-block;
          color: #333333;
          font-size: 1.649vh;
        }
      }
    }
    .intro{
      float: left;
      margin-top: 2.248vh;
      padding-left: 5.33vw;
      padding-right: 5.33vw;
    }
  }
  #second_info, #third_info{
    .title{
      height: 7.346vh;
      width: 100%;
      background-color: #f7b700;
      color: white;
      text-align: center;
      padding-top: 2vh;
      font-weight: bold;
    }
    .intro{
      margin-top: 2.248vh;
      padding-left: 5.33vw;
      padding-right: 5.33vw;
    }
  }
}

.container-homepage {
  background-color: #f0f0f0 !important;
  position: relative;
  width: 100%;
  top: 6.521vh;
  #avatar {
    position: absolute;
    height: 12.54vw;
    width: 12.54vw;
  }
}