<div class="menu-bar" >
  <ul>
    <li>カテゴリー 1</li>
    <li>カテゴリー 2</li>
    <li>カテゴリー 3</li>
    <li>カテゴリー 4</li>
    <li>カテゴリー 5</li>
  </ul>
</div>

<div class="blog-list" data-turbolinks="false">
  <ul id="my-blogs-user" >
    <%= render 'blog_list' %>
  </ul>

  <div id="infinite-scrolling-user" class="text-center">
    <%= paginate @blogs %>
  </div>
</div>

