
  <div class="menu-bar" >
    <div class="text">
      <p>すべて</p>
    </div>
    <div class="scroll">
      <ul>
        <li>オススメ</li>
        <% @categories.each do |category| %>
            <li><%= category.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

<div class="blog-list" data-turbolinks="false">
  <ul id="my-blogs-user" >
    <%= render 'blog_list' %>
  </ul>

  <div class="text-center">
    <%#= will_paginate @blogs, remote: true, :previous_label => '<b> << </b>'.html_safe, :next_label => '<b> >> </b>'.html_safe, inner_window: 1 %>
    <%= link_to '次ページ', blogs_path(:page => @blogs.next_page), :class => 'infinite-scrolling-user', :remote => true if @blogs.next_page %>
  </div>
</div>

