<div class="profile">
  <div class="row" id="first_info" >
    <div class="author_avatar">
      <img src="/assets/avatar.png" alt="">
    </div>
    <div class="author_info">
      <p class="author_info_1">イーアス塾 特別講師</p>
      <p class="author_info_2">
        <span class="big">ナルフォード</span>
        <span class="small">先生</span>
      </p>
      <div class="author_info_3">
        <div class="label">
          <p>出身地</p>
        </div>
        <div class="explain">
          <p>大阪府 大阪市</p>
        </div>
      </div>
      <div class="author_info_4">
        <div class="label">
          <p>年 齢</p>
        </div>
        <div class="explain">
          <p>26歳</p>
        </div>
      </div>
      <div class="author_info_5">
        <div class="label">
          <p>得意科目</p>
        </div>
        <div class="explain">
          <p>理数が得意だが運動は苦手</p>
        </div>
      </div>
    </div>
    <div class="intro">
      <p>ダミーテキスト、ナルフォード先生の自己紹介文が入ります。ダミーテキスト、ナルフォード先生の自己紹介文が入ります。ダミーテキスト</p>
    </div>
  </div>
  <div class="row" id="second_info" >
    <div class="title">
      <p>ナルフォード先生のスキル</p>
    </div>
    <div class="intro">
      <!--<img src="/assets/thum_image.png" alt="">-->
      <p>この文章はダミーテキストです、文字などを調整するために入れています。この文章はダミーテキストです、文字などを調整するために入れ</p>
    </div>
  </div>
  <div class="row" id="third_info" >
    <div class="title">
      <p>ダミータイトル</p>
    </div>
    <div class="intro">
      <p>この文章はダミーテキストです、文字などを調整するために入れています。この文章はダミーテキストです、文字などを調整するために入れ</p>
    </div>
  </div>
</div>