<footer>
  <div class="row" >
    <a href="/">
      <div class="col-xs-4 footer-menu <%= params[:controller] == "talks" ? "active" : "" %>">
        <div class="comment">
          <img class="default" src="/assets/talk.png" alt="">
          <img class="selected" src="/assets/talk-click.png" alt="">
          <span><p>トーク</p></span>
        </div>
      </div>
    </a>

    <div id="show-popup">
      <div class="col-xs-4 footer-menu <%= params[:controller] == "blogs" ? "active" : "" %>">
        <div class="detail">
          <img class="default" src="/assets/top.png" alt="">
          <img class="selected" src="/assets/top-click.png" alt="">
          <span><p>ブログ</p></span>
        </div>
      </div>
    </div>

    <a href="<%= user_path(current_user.id) %>">
      <div class="col-xs-4 footer-menu <%= params[:controller] == "users" ? "active" : "" %>">
        <div class="author">
          <img class="default" src="/assets/profile.png" alt="">
          <img class="selected" src="/assets/profile-click.png" alt="">
          <span><p>プロフィール</p></span>
        </div>
      </div>
    </a>
  </div>
</footer>

