/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

header
{
  z-index: 101;
  font-size: 2.17vh;
  font-weight: bold;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  #header-top
  {
    height: 6.521vh;
    width: 100vw;
    background-color: #ff7300;
    position: relative;
    #bell
    {
      position: absolute;
      top: 1.649vh;
      left: 2.62vh;
      img
      {
        height: 3.22vh;
      }
    }
    #title-text
    {
      position: absolute;
      top: 2.09vh;
      right: 35.6vw;
    }
  }
}

footer{
  z-index: 102;
  background-color: #40414a;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  .row{
    margin: 0;
    padding: 0;
    .footer-menu{
      height: 7.34vh;
      margin: 0;
      padding: 0;
      text-align: center;
      img{
        height: 3.5vh;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
      }
      p{
        font-size: 1.4vh;
        color: white;
      }
      .selected{
        display: none;
      }
    }
    .active{
      background-color: #35373d;
      p{
        color: #ffbb00;
      }
      .default{
        display: none;
      }
      .selected{
        display: block;
      }
    }
  }
}
