<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h4><b>生徒一覧</b></h4>
        <ul>
          <li><a href="">生徒一覧 . 探索</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4><b>セルフチェック</b></h4>
        <ul>
          <li><a href="">実施回一覧</a></li>
          <li><a href="">新規作成 (実施)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h4><b>フレンズヒント</b></h4>
        <ul>
          <li><a href="">スレッド一覧</a></li>
          <li><a href="">スレッド作成</a></li>
          <li><a href="">コメント一覧</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4><b>管理ユーザー</b></h4>
        <ul>
          <li><a href="">アカウント一覧</a></li>
          <li><a href="">新規作成</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h4><b>ブログ</b></h4>
        <ul>
          <li><%= link_to '記事一覧', admin_blogs_path %></li>
          <li><%= link_to '記事作成', new_admin_blog_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>