
<div class="col-title-create">
  <h2><%= t "admin.blog.edit.title" %></h2>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'form' %>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ブログの本文</h4>
      </div>
      <div id="modal_content" >
      </div>
    </div>
  </div>
</div>
