
<div style="padding-left: 30px">
  <h2><%= t "admin.blog.create.title"%></h2>
</div>

<%= render 'form' %>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" id="modal_content" >
  </div>
</div>

<script type="text/javascript">
  // show datePicker
  $(document).ready(function(){
    $('#datetimepicker').datetimepicker({
      format: 'YYYY-MM-DD hh:mm:ss'
    });
  });

  $("#preview").on("click", function(ev)
  {
    var content = CKEDITOR.instances['content_text'].getData();
    $("#modal_content").html(content);
    $("#myModal").modal();
    ev.preventDefault();
  });

</script>


