
<div class="col-title-create">
  <h2><%= t "admin.blog.create.title"%></h2>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'form' %>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" id="modal_content" >
  </div>
</div>



